body{
    background: #2c2c2c;
    color: #f0f0f0;
    overflow: hidden;
    font-size: 14px;
}

a, a:visited{
    color: #9bb5e3;
}

@keyframes twinkleBorder {
    from {
        border-color: #ff3e3e;
    }
    to {
        border-color: #2c2c2c;
    }
}

@keyframes twinkleTitle {
    from {
        background-color: #fff;
    }
    to {
        background-color: #2c2c2c;
    }
}

/*Common Style*/
.hide{
    display: none;
}
.block-all{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.twinkle-border{
    animation: .15s twinkleBorder;
    animation-iteration-count: 6;
}
.twinkle-title{
    animation: .15s twinkleTitle;
    animation-iteration-count: 6;
}
/*全局样式*/
.top, .option, .tool, .panel{
    position: relative;
    background: #535353;
    z-index: 30;
}
.top:hover, .option:hover, .tool:hover, .panel:hover, .window{
    position: relative;
    box-shadow: 2px 2px 40px #000000;
    z-index: 50;
}

/*窗口操作按钮*/
.window-control li{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
}
.window-control li:hover{
    background: #2c2c2c;
}

/*选项栏*/
.option{
    height: 30px;
    margin: 2px 0;
    padding-left: 5px;
    background: #535353;
    font-size: 14px;
}
.option #current-tool{

}
.option div{
    display: inline-block;
}
.option *{
    display: inline;
    margin: 0 5px;
    padding: 0;
    line-height: 30px;
}

/*底部区域容器*/
.bottom-container{
    overflow: hidden;
}

/*工具栏*/
.tool{
    float: left;
    width: 32px;
    height: 100%;
}
.tool ul{
    list-style-type: none;
}
.tool input{
    display: none;
}
.tool ul li label{
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    margin: 3px;
}
.tool ul li label:hover{
    background: #404040;
}
.tool input:checked+label{
    background: #2c2c2c;
}
.tool input:checked+label:hover{
    background: #2c2c2c;    /* hack hover bug */
}

/*画布*/
.drawing-container{
    height: 100%;
    margin: 0 302px 0 34px;
    z-index: 1;
    overflow: hidden;
}
.drawing-container ul.title-bar{
    height: 26px;
    margin-bottom: 2px;
    list-style-type: none;
    background: #3b3b3b;
}
.drawing-container ul.title-bar li{
    display: inline-block;
    background: #535353;
    cursor: default;
}
.drawing-container ul.title-bar li span{
    font-size: 12px;
    margin: 5px 10px;
}
.drawing-container ul.title-bar li .close{
    padding: 2px;
    margin-left: 0;
    vertical-align: middle;
}
.drawing-container ul.title-bar li .close:hover{
    background: #ff5458;
    border-radius: 50%;
}
.drawing-container canvas{
    transform-origin: 0 0;
}
.drawing-container .drawing{
    width: 100%;
    height: 92%;
    overflow: scroll;
}
.drawing-container .status{
    width: 100%;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background: #535353;
    padding-left: 10px;
    margin-top: 3px;
}

/*面板*/
.panel-group{
    float: right;
    width: 300px;
    height: 400px;
}

/*自定义样式*/
#about{
    text-align: center;
}

#canNotReadLocalFile{
    width: 500px;
}
#canNotReadLocalFile span{
    float: left;
    font-size: 9em;
}
#canNotReadLocalFile ul, #canNotReadLocalFile h2{
    clear: both;
}